<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="We are a 501(c) organization dedicated to providing toys and other care items to childhood cancer patients undergoing treatment. Based out of Atlanta, we support metro-area hospitals by delivering items like movies, video games, toys, and gift cards.
">
  <meta name="author" content="Thomas Doolittle">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->


        <title>Joey's Toy Box</title>


<!-- You can use open graph tags to customize link previews.
  Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="<%= url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Joey's Toy Box" />
  <meta property="og:description"   content="We are a 501(c) organization dedicated to providing toys and other care items to childhood cancer patients undergoing treatment. Based out of Atlanta, we support metro-area hospitals by delivering items like movies, video games, toys, and gift cards.
" />
  <meta property="og:image"         content="<%= url %>img/main_logo.png" />


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84911121-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- bower:js -->
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/components/scrolly/public/js/scrolly.js"></script>
  <script src="/components/typed.js/dist/typed.min.js"></script>
  <!-- endbower -->
  <script src="js/bcSwipe-master/jquery.bcSwipe.min.js"></script>
  <script>
    $(function(){

      $("#typed").typed({
        stringsElement: $('#typed-strings'),
        typeSpeed: 30,
        backDelay: 500,
        loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ $(".typed-cursor").css("color", "transparent"); },
            resetCallback: function() { newTyped(); }
          });

      $(".reset").click(function(){
        $("#typed").typed('reset');
      });

    });

  function newTyped(){ /* A new typed object */ }
</script>

<!--BOOTSTRAP MAIN STYLES -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<!--FONTAWESOME MAIN STYLE -->
<link href="/css/font-awesome.min.css" rel="stylesheet" />
<!--CUSTOM STYLE -->
<link href="/css/style.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->


    </head>
    <!--END HEAD SECTION -->

    <body>   

      <script>
        $(document).ready(function() {
          var _ = <%= _ %>;
          $('#myCarousel').carousel();
          $('.carousel').bcSwipe({ threshold: 50 });
          var sectionBackground = [<% _.each(separators, function(data) { %>"<%- data %>",<% }); %>];

          $(".jtb-separator").each(function(index) {
            $(this).css("background-image","url(img/" + sectionBackground[index % sectionBackground.length] + ")");
          });
          
          $("#donate-btn").click(function() { 
            $('#donate-form').submit(); 
          });

          aload();  

          $('#main-logo').fadeIn(3000, function() {
          }).removeClass('hidden');
        });

      </script>

      <%- include('partials/navbar.ejs'); %>

      <%- include('partials/header.ejs'); %>

      <%- include('partials/mission.ejs') %>

      <!--PARALLAX SECTION -->
      <section class="story-freext">
        <div class="parallax jtb-separator" data-velocity="-.5" ></div>
      </section>
      <!-- END PARALLAX SECTION -->

    <div id="mission-section" class="section" >
      <div class="container" >
        <div class="row main-low-margin">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >


            <img src="img/joey.jpg" class="img-responsive center-block" style="max-height: 500px" />
            <div class="about-text">
              <h1>About us</h1>
              
               <p>JTB was founded by our son, Joey Doolittle.  Joey was a lifelong cancer warrior who was diagnosed with Rhabdomyosarcoma at only 3 months of age.  Throughout Joey's life, he underwent numerous chemotherapy protocols, surgeries, and radiation treatments.  Toys provided by the hospitals always seemed to make his treatments a little more bearable.  During the twilight of Joey's young life, when he was the sickest, he decided to conduct a fundraiser to raise money to buy the other kids at the hospital toys.  On June 7, 2008, Joey raised $1,800 by organizing a "cycle-a-thon" at a local gym in Peachtree City, GA.  A few days later, Joey made his first and only delivery of toys to the AFLAC Children's Cancer Center at Scottish Rite hospital in Atlanta.  On July 4, 2008, after a lifetime battle against cancer, Joey peacefully passed away in his mother's arms.</p>
               <p> 
Joey's impact on his family, friends, and other childhood cancer patients continues to evolve and flourish.  His simple dream of helping the other kids and their families continues to live on because of the incredible community of volunteers that have felt Joey in their hearts.  With no paid employees, we are a 100% volunteer army dedicated to the JTB mission.  We operate this way so that we can put every dollar towards helping these kids and their families.  We have dedicated ourselves to being good stewards of the money, time, and efforts of our volunteer community.  We will continue Joey's mission with the compassion and integrity that he had when he started it... simple as that.
               </p>
           </div>
         </div>
       </div>
     </div>
   </div>

   <!--PARALLAX SECTION -->
   <section class="story-freext">
    <div class="parallax jtb-separator" data-velocity="-.5" ></div>
  </section>
  <!-- END PARALLAX SECTION -->


  <%- include('partials/donate.ejs') %> 

  <%- include('partials/footer.ejs') %>
